@media screen and (min-width: 61rem) {
  .layout-region--main {
    width: 100%;
  }
  .layout-region--main .layout-region__content {
    max-width: 100%;
  }
  .layout-region--footer {
    width: 100%;
  }
  .layout-region--footer .layout-region__content {
    max-width: 100%;
  }
  .layout-region--secondary {
    width: 100%;
  }
}
