html {
  font-size: 90%;
  /* Make the elements smaller for Varbase admin */
}

input[type="text"] {
  max-width: 100%;
}

#edit-created-from,
#edit-created-to,
#edit-user-created-from,
#edit-user-created-to,
#edit-content-created-from,
#edit-content-created-to {
  width: 150px;
}

.node-form .field--name-title input {
  width: 100%;
  min-height: 4rem;
  font-size: 1.6em;
}

.node-form .field--name-title .length-indicator {
  margin-top: -1rem;
}

body.path-admin .panel.dashboard-block {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #222330;
  border: 1px solid rgba(216, 217, 224, 0.8);
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.block-views-blockvarbase-google-analytics-summary-sessions-and-pageviews .panel__title {
  display: block;
}

.block-views-blockvarbase-google-analytics-summary-sessions-and-pageviews .description {
  padding: 20px;
}

.node-form div.autocomplete-deluxe-container {
  width: 65%;
  padding: 0.68rem 1.875rem 0.68rem 0.93rem;
  color: #222330;
  border: 1px solid #8e929c;
  border-radius: 0.125rem;
  background: #fff;
  box-shadow: none;
}

@media screen and (max-width: 81.25rem) {
  .node-form div.autocomplete-deluxe-container {
    width: 100%;
  }
}

.node-form div.autocomplete-deluxe-container:not(.autocomplete-deluxe-multiple) {
  padding: 0;
}

.node-form div.autocomplete-deluxe-container:not(.autocomplete-deluxe-multiple) input.autocomplete-deluxe-form {
  width: 100%;
  min-height: 3rem;
  padding: 0.68rem 1.875rem 0.68rem 0.93rem;
  background: white;
}

.node-form div.autocomplete-deluxe-container:not(.autocomplete-deluxe-multiple) .autocomplete-deluxe-throbber {
  top: 0.93rem;
}

.node-form div.autocomplete-deluxe-container .autocomplete-deluxe-item {
  margin: 0 0.31rem 0.18rem 0;
}

.node-form div.autocomplete-deluxe-container input.autocomplete-deluxe-form {
  min-height: 1.25rem;
  padding-top: 0;
  padding-bottom: 0;
}

.node-form div.autocomplete-deluxe-container div.autocomplete-deluxe-throbber {
  position: absolute;
  top: 0.875rem;
  right: 0.625rem;
  width: 1.875rem;
  height: 100%;
}

.node-form div.autocomplete-deluxe-container div.autocomplete-deluxe-throbber.autocomplete-deluxe-open {
  background: url("../images/search-autocompleting.svg") no-repeat;
}

.node-form div.autocomplete-deluxe-container div.autocomplete-deluxe-throbber.autocomplete-deluxe-closed {
  background: url("../images/search-autocomplete.svg") no-repeat;
}

.node-form .claro-autocomplete {
  width: 65%;
}

.node-form .claro-autocomplete .claro-autocomplete__message {
  display: none;
}

.node-form .claro-autocomplete input {
  width: 100%;
  padding-right: 1.875rem;
}

@media screen and (max-width: 81.25rem) {
  .node-form .claro-autocomplete {
    width: 100%;
  }
}

.node-form .accordion .claro-autocomplete {
  width: 100%;
}

.node-form .js input.form-autocomplete {
  background: url("../images/search-autocomplete.svg") no-repeat 100% 50%;
}

.node-form .js input.form-autocomplete.ui-autocomplete-loading {
  background: url("../images/search-autocompleting.svg") no-repeat 100% 50%;
}

.node-form .js .is-autocompleting + .claro-autocomplete__message {
  display: none;
}

.node-form .field--type-yoast-seo input {
  width: 66%;
}

@media screen and (max-width: 81.25rem) {
  .node-form .field--type-yoast-seo input {
    width: 100%;
  }
}

.media-library-item .media-library-edit__link {
  right: 40px;
}

.media-library-item .media-library-edit__link,
.media-library-item .media-library-item__remove.button:first-child {
  top: 10px;
  width: 25px;
  height: 25px;
  border: 2px solid #ccc !important;
  background-size: 13px;
  font-size: 0;
}

.media-library-item .media-library-edit__link:not(:focus),
.media-library-item .media-library-item__remove.button:first-child:not(:focus) {
  box-shadow: none;
}

.media-library-item .media-library-edit__link:hover,
.media-library-item .media-library-edit__link:focus,
.media-library-item .media-library-item__remove.button:first-child:hover,
.media-library-item .media-library-item__remove.button:first-child:focus {
  color: transparent;
  border-color: #40b6ff !important;
}

.media-library-item .media-library-edit__link:active,
.media-library-item .media-library-item__remove.button:first-child:active {
  outline: 2px dotted transparent;
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769;
}

.focal-point-preview-link {
  padding: 1.2rem;
  text-decoration: none;
}

.layout-region-node-secondary .media-library-item.media-library-item--grid {
  width: 200px;
  max-width: 200px;
}

fieldset.fieldset {
  border-color: #d8d9e0;
}

@media screen and (min-width: 61rem) {
  .layout-region--node-main {
    width: 65%;
  }
  .layout-region--node-main .layout-region__content {
    max-width: 100%;
  }
  .layout-region--node-footer .layout-region__content {
    max-width: 100%;
  }
  .layout-region--node-secondary {
    width: 35%;
  }
}
