@font-face {
  font-family: "Tajawal";
  src: url("../fonts/tajawal/tajawal-regular-webfont.eot");
  src: url("../fonts/tajawal/tajawal-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tajawal/tajawal-regular-webfont.woff2") format("woff2"), url("../fonts/tajawal/tajawal-regular-webfont.woff") format("woff"), url("../fonts/tajawal/tajawal-regular-webfont.ttf") format("truetype"), url("../fonts/tajawal/tajawal-regular-webfont.svg#tajawalregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Tajawal", sans-serif;
}

body .action-links .button--primary {
  font-family: "Tajawal", sans-serif;
}

#yoast-wrapper {
  direction: ltr;
}
