@import url(//fonts.googleapis.com/earlyaccess/droidarabickufi.css);

body {
  font-family: 'Droid Arabic Kufi', sans-serif;

  .action-links {
    .button--primary {
      font-family: 'Droid Arabic Kufi', sans-serif;
      line-height: 19px;
    }
  }

  select {
    &:focus,
    &:hover {
      background: url("../images/caret-down.svg") no-repeat 2% 64% #fcfcfa;
    }
  }
}

#yoast-wrapper {
  direction: ltr;
}
