input[type="text"] {
  max-width: 100%;
}

.views-exposed-form__item {

  [id*="edit-created-from"],
  [id*="edit-created-to"],
  [id*="edit-user-created-from"],
  [id*="edit-user-created-to"],
  [id*="edit-content-created-from"],
  [id*="edit-content-created-to"] {
    width: 9rem;
  }

  [id*="edit-langcode"],
  [id*="edit-uid"] {
    width: 12rem;
  }

  .ui-autocomplete-input {
    padding-right: 32px;
  }

}

.node-form {
  .field--name-title {
    input {
      font-size: 1.6em;
      width: 100%;
      min-height: 4rem;
    }

    .length-indicator {
      margin-top: -1rem;
    }
  }
}

body.path-admin .panel.dashboard-block {
  display: block;
  margin-top: var(--gin-spacing-m);
  margin-bottom: var(--gin-spacing-m);
  border: var(--gin-border-xxs) solid var(--gin-border-color-layer2);
  background-color: var(--gin-bg-layer3);
  box-shadow: var(--gin-shadow-l1);

  p {
    padding: var(--gin-spacing-m);
  }
}

.block-views-blockvarbase-google-analytics-summary-sessions-and-pageviews {
  .panel__title {
    display: block;
  }

 .description {
    padding: var(--gin-spacing-l);
  }
}

.node-form {
  div.autocomplete-deluxe-container {
    width: 65%;

    @media screen and (max-width: 81.25rem){
      width: 100%;
    }

    &:not(.autocomplete-deluxe-multiple) {
      input {
        &.autocomplete-deluxe-form {
          width: 100%;
        }
      }
    }
  }

  .field--type-yoast-seo {
    input {
      width: 66%;

      @media screen and (max-width: 81.25rem){
        width: 100%;
      }
    }
  }
}

// Style Focal point of Focal point "Preview" link cover image for a Video.
.focal-point-preview-link {
  padding: var(--gin-spacing-l);
  text-decoration: none;
}
