@media (min-width: 80em) {
  .gin-secondary-toolbar .toolbar-secondary .toolbar-bar .toolbar-tab.moderation-sidebar-toolbar-tab .toolbar-item {
    border-radius: 0;
  }
  [dir=ltr] .gin-secondary-toolbar .toolbar-secondary .toolbar-bar .toolbar-tab {
    margin-left: 0.25em;
  }
  [dir=rtl] .gin-secondary-toolbar .toolbar-secondary .toolbar-bar .toolbar-tab {
    margin-right: 0.25em;
  }
}
